.hero-section {
  background: #0a0a0a;
  color: #333;
  padding: 2rem;
  position: relative;
  z-index: 1;
  margin-top: 100px;
  margin-bottom: 100px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.hero-text {
  text-align: center;
  margin-bottom: 2rem;
}

.hero-text h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
  color: #c7a86d;
}

.hero-text p {
  font-size: 1.125rem;
  line-height: 1.6;
  color: #f2f2f2;
}

.hero-image img {
  width: 100%;
  max-width: 500px;
  display: block;
}

@media (min-width: 1024px) {
  .hero-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hero-text {
    text-align: left;
    max-width: 50%;
    margin-bottom: 0;
  }

  .hero-image {
    max-width: 45%;
  }

}

@media (max-width: 768px) {
  .hero-section {
    background: #0a0a0a;
    color: #333;
    padding: 2rem;
    position: relative;
    z-index: 1;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
