.hero-section {
  background: #0b0b0b; /* o transparente si quieres */
  color: #333;
  padding: 2rem;
  position: relative; /* para no interferir con navbar */
  z-index: 1;
  margin-top: 100px;
  margin-bottom: 100px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.hero-text {
  text-align: center;
  margin-bottom: 2rem;
}

.hero-text h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
  color: #712518;
}

.hero-text p {
  font-size: 1.125rem;
  line-height: 1.6;
  color: #F5E3BF;
}

.hero-image img {
  width: 100%;
  max-width: 500px;
  display: block;
}

/* Escritorio */
@media(min-width: 1024px) {
  .hero-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hero-text {
    text-align: left;
    max-width: 50%;
    margin-bottom: 0;
  }

  .hero-image {
    max-width: 45%;
  }
}
