.full-image-container {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/pizza.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

}

.backgroundHelp {
  background-color: #0a0a0a !important;
}

.texto-cool {
  font-family: "Pacifico", "Brush Script MT", cursive;
  font-size: 4.5rem !important;
  font-weight: 400;
  color: #ffd86b;
  text-transform: none;

  text-shadow: 0 0 6px rgba(255, 230, 150, 0.9),
    0 0 12px rgba(255, 200, 90, 0.7), 0 0 20px rgba(255, 180, 60, 0.5),
    1px 1px 4px rgba(0, 0, 0, 0.4);

  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.texto-cool:hover {
  transform: scale(1.03);
  text-shadow: 0 0 10px rgba(255, 230, 150, 1), 0 0 20px rgba(255, 200, 90, 1),
    0 0 30px rgba(255, 180, 60, 1), 0 0 45px rgba(255, 160, 40, 0.9);
  cursor: pointer;
}
.margins-king {
  margin: 20px;
}

.margins-king-soft {
  margin-bottom: 25px;
}

.full-container-home-section {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.parrafo1 {
  text-align: center;
  white-space: pre-line;
  margin: 3rem 0;
  line-height: 1.6;
  color: #f2f2f2;
  font-size: 1.8rem;
}

.color-texto-titulo {
  font-size: 3rem;
  color: #712518;
  font-weight: bold;
}

.color-texto-titulo-extra {
  font-size: 3rem;
  color: #f5e3bf;
  font-weight: bold;
}

.button-cust {
  background: linear-gradient(90deg, #F5E3BF 0%, #C7A86D 100%);
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.button-cust:hover {
  background: linear-gradient(90deg, #F2F2F2 0%, #C7A86D 100%);
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}


@media (max-width: 768px) {
  .full-image-container {
    background-size: auto;
    border-radius: 10px;
  }
  .paddingGeneral {
    padding: 15px;
  }

  .texto-cool {
    font-family: "Pacifico", "Brush Script MT", cursive;
    font-size: 1.5rem !important;
    font-weight: 400;
    color: #ffd86b;
    text-transform: none;

    text-shadow: 0 0 6px rgba(255, 230, 150, 0.9),
      0 0 12px rgba(255, 200, 90, 0.7), 0 0 20px rgba(255, 180, 60, 0.5),
      1px 1px 4px rgba(0, 0, 0, 0.4);

    letter-spacing: 1px;
    transition: all 0.3s ease;
  }

  .texto-cool:hover {
    transform: scale(1.03);
    text-shadow: 0 0 10px rgba(255, 230, 150, 1), 0 0 20px rgba(255, 200, 90, 1),
      0 0 30px rgba(255, 180, 60, 1), 0 0 45px rgba(255, 160, 40, 0.9);
    cursor: pointer;
  }

  .parrafo1 {
    text-align: center;
    white-space: pre-line;
    margin: 3rem 0;
    line-height: 1.6;
    color: #f2f2f2;
    font-size: 1.5rem;
  }

  .mergen-fone {
    margin-top: 35px;
  }

  .margins-king {
    margin: 20px;
  }

  .margins-king-soft {
    margin-bottom: 25px;
  }
}
