.full-image-container {
  width: 100%;
  height: 100vh;
  background-image: url('../assets/pizza.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundHelp {
  background-color: #0b0b0b !important;
}

.full-container-home-section
{
  width: 100%;
  height: 100%; 
  padding: 2rem; 
}

.parrafo1 {
  text-align: center;
  white-space: pre-line;
  margin: 3rem 0;
  line-height: 1.6;
  color: #F5E3BF;
  font-size: 1.8rem;    
}

.color-texto-titulo{
  font-size: 3rem;
  color: #712518;
  font-weight: bold;
}

.color-texto-titulo-extra{
  font-size: 3rem;
  color: #F5E3BF;
  font-weight: bold;
}

.margins-king {
  margin: 80px 0;
}

.margins-king-soft {
  margin: 50px 0;
}