.section-text-h2 {
  font-weight: 800;
  margin-bottom: 1rem;
  color: #712518;
  font-size: 2.25rem;
  line-height: 2.5rem; 
}

.section-text-p {
  font-size: 1.125rem;
  line-height: 1.6;
  color: #F5E3BF;
  margin-bottom: 20px;
}