.section-text-h2 {
  font-weight: 800;
  margin-bottom: 1rem;
  color: #C7A86D;
  font-size: 2.25rem;
  line-height: 2.5rem; 
}

.section-text-p {
  font-size: 1.125rem;
  line-height: 1.6;
  color: #F2F2F2;
  margin-bottom: 20px;
}

.cookie-btn {
  background-color: #D5B892;
  color: #000000;
  transition: background-color 0.2s;
}

.cookie-btn:hover {
  background-color: #C7A86D;
}

@media (max-width: 768px) {
  .section-text-h2 {
  font-weight: 800;
  margin-bottom: 1rem;
  color: #C7A86D;
  font-size: 1.25rem;
  line-height: 2.5rem; 
}

.section-text-p {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #F2F2F2;
  margin-bottom: 20px;
}

  

}